body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
/* main body setting*/
.mainBody
{
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
    background-image: url(../Images/libraryBackground.jpg);
    background-size: cover;
}



/* navbar editing*/
.navbar
{
    overflow: hidden;
    background-color: #001F3F;
    border-bottom: 5px solid #FB8500;
}

.navbar a 
{
    float: left;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown 
{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn 
{
    font-size: 1.5vw;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn 
{
    background-color: rgb(95, 95, 95);
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover 
{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content 
{
    display: block;
}

/* general editing */

.separator
{
    height: 0.4em;
    background-color: #FB8500;
}

.error
{
    color: red;
    font-size: 1vw;
}

.errorBox
{
    width: 19.5vw;
    height: 2vw;
    border: 2px solid red;
    border-radius: 10px;
}

.info
{
    color: #FFFFF0;
    font-size: 1vw;
}

.formButton
{
    width: 20vw;
    height: 3vw;
    background-color: #FFFFF0;
    border: 0.2vw solid black;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 2vw;
    margin-top: 1vw;
}

.sureButton
{
    width: 10vw;
    height: 3vw;
    background-color: #FFFFF0;
    border: 0.2vw solid black;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 2vw;
    margin-top: 1vw;
    margin-right: 2vw;
}

a.sureButton:not(input.sureButton)
{
    padding: 0.8vw;
    
}

.whiteBox
{
    width: 50%;
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 27vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
    background-color: #001F3F;
    color: #FFFFF0;
    border-radius: 10px;
    border: 2px solid #FB8500;
}

#searchButton
{
    width: 20vw;
    height: 3vw;
    background-color: #FFFFF0;
    border: 0.2vw solid black;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    margin-top: 1vw;
}

.formButton:hover
{
    cursor: pointer;
    background-color: #8f8e8e;
}

.sureButton:hover
{
    cursor: pointer;
    background-color: #8f8e8e;
}

#searchButton:hover
{
    cursor: pointer;
    background-color: #8f8e8e;
}
#noReservation
{
    font-size: large;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.searchHighlight
{
    background-color: #FB8500;
}

/* login editing */

#loginBox
{
    width: 50%;
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 27vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
    background-color: #001F3F;
    color: #FFFFF0;
    border-radius: 10px;
    border: 2px solid #FB8500;
}

#loginBox p
{
    font-size: large;
}

#loginBox label
{
    font-size: large;
    margin-right: 15vw;
}

.loginInput
{
    height: 2vw;
    width: 19.5vw; 
    border: 0.2vw solid black;
    border-radius: 10px;
    font-size: large;
}

/* Register editing */

.registerForm
{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    margin-left: 27%;
    margin-bottom: 5%;
    align-items: center;
    text-align: center;
    background-color: #001F3F;
    border: 2px solid #FB8500;
    border-radius: 10px;
}

#accountRegister label
{
    font-size: large;
    display:flex;
    flex-direction: row;
}

#personalRegister label
{
    font-size: large;
    display: flex;
    flex-direction: row;
}

.registerInput
{
    width: 19.5vw;
    height: 2vw;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
}

/* Register success editing */

#successBox
{
    width: 50%;
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 27vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
    background-color: #001F3F;
    color: #FFFFF0;
    border-radius: 10px;
    border: 2px solid #FB8500;
}

.browseNow
{
    text-align: center;
    padding-top: 1.5vw;

    font-size: larger;
}
.browseNow:link, .browseNow:visited
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.browseNow:active, .browseNow:visited:active
{
    color: black;
}

/* Main editing */

#removeError
{
    margin-bottom: 2vw;
}

#mainError
{
    margin-bottom: 2vw;
}

#mainForm
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 2vw;
    
}

#reservationBox
{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 27vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    background-color: #001F3F;
    color: #FFFFF0;
    border-radius: 10px;
    border: 2px solid #FB8500;
}

#reservationBox h1
{
    margin-top: 2em;
}

.pageButtons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pageButtons > .pageButton
{
    padding: 10px;
    border: 2px solid #FFFFF0;
    border-radius: 10px;
    margin: 0.5vw;
    
}

.pageButton:link, .pageButton:visited
{
    color: #FFFFF0;
    text-decoration: none;
    cursor: pointer;
}

.pageButton:active, a:visited:active
{
    color: #FFFFF0;
}

.pageButton:hover
{
    background-color: #8f8e8e;
}

/* Search Editing */

#searchBox
{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 27vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    background-color: #001F3F;
    color: #FFFFF0;
    border-radius: 10px;
    border: 2px solid #FB8500;
}

.searchInput
{
    width: 19.5vw;
    height: 2vw;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
}

/* Table Editing */

.table
{
    border-collapse: collapse;
    font-size: large;
    border: 2px solid #FB8500;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 10px;
}

.table th
{
    border-width: 0.2vw;
    padding: 1vw;
    background-color: #219EBC;
    color: #023047;
    
}

.table td
{
    padding: 0.5vw;
    background-color: #8ECAE6;
    color: #023047;
    border-bottom: 2px solid #FB8500;    
}

/* footer editing */
footer
{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #001F3F;
    padding: 3em;
    border-top: 8px solid #FB8500;
}

.mainFooter
{
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #001F3F;
    padding: 2em;
    border-top: 8px solid #FB8500;
}

.searchFooter
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #001F3F;
    padding: 2em;
    border-top: 8px solid #FB8500;
}


.footerNote
{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1em;
    color: white;
}